Repository ByteOtter/nester, changes with the labels that .github/labeler.yml gives for each.
All labels: python, cli-frontend, interactive-mode, json, documentation, tests, bash/shell, configs, container

get supported languages automatically
  nester.sh
  src/nester/cli_logic.py
  src/nester/templates/README.md
  src/nester/templates/py/py_layout.json
  src/nester/templates/rb/rb_layout.json
  src/nester/utils.py
Labels: python, cli-frontend, bash/shell

get supported languages automatically (#9)
  nester.sh
  src/nester/cli_logic.py
  src/nester/templates/README.md
  src/nester/templates/py/py_layout.json
  src/nester/templates/rb/rb_layout.json
  src/nester/utils.py
Labels: python, cli-frontend, bash/shell

reformat code using black
  src/nester/cli_logic.py
  src/nester/utils.py
Labels: python, cli-frontend

move special docs to root and setup boilerplate sphinx
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  docs/Makefile
  docs/conf.py
  docs/index.rst
  setup.cfg
Labels: documentation, configs

small fixes to docs/conf.py
  docs/conf.py
Labels: documentation

create directory with projectname and fix directory traversal
  nester.sh
  src/nester/utils.py
Labels: python, bash/shell

add docstring
  src/nester/utils.py
Labels: python

[Docs:] Move special docs to root and setup boilerplate sphinx (#10)
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  docs/Makefile
  docs/conf.py
  docs/index.rst
  setup.cfg
Labels: documentation, configs

Replace `$projectname` variable in JSON files with given projectname (#11)
  nester.sh
  src/nester/utils.py
Labels: python, bash/shell

Readme update
  README.md
Labels: documentation

fix permission denied error when creating project structure with different name than cwd
  nester.sh
  src/nester/cli_logic.py
  src/nester/utils.py
Labels: python, cli-frontend, bash/shell

fix file permission error on directory creation
  README.md
  src/nester/utils.py
Labels: python, documentation

implement validate function split insert_projectname function in utils.py
  src/nester/cli_logic.py
  src/nester/utils.py
Labels: python, cli-frontend

fix projectname replacing error when yaml loads and missing path cast in validate
  src/nester/cli_logic.py
  src/nester/utils.py
Labels: python, cli-frontend

mark new bug
  src/nester/utils.py
Labels: python

add pdb breakpoint
  src/nester/utils.py
Labels: python

fix validate algorithm
  src/nester/cli_logic.py
  src/nester/utils.py
Labels: python, cli-frontend

[DRAFT:] implement validate function (#15)
  src/nester/cli_logic.py
  src/nester/utils.py
Labels: python, cli-frontend

Implement clean function
  src/nester/cli_logic.py
  src/nester/utils.py
Labels: python, cli-frontend

remove unnecessary helper funciton
  src/nester/cli_logic.py
  src/nester/utils.py
Labels: python, cli-frontend

Implement clean function (#16)
  src/nester/cli_logic.py
Labels: python, cli-frontend

Readme update
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

add template for unittests
  src/nester/cli_logic.py
  src/nester/utils.py
  tests/utils_test.py
Labels: python, cli-frontend, tests

Add template for unittests (#19)
  src/nester/cli_logic.py
  src/nester/utils.py
  tests/utils_test.py
Labels: python, cli-frontend, tests

update pyproject.toml
  .gitignore
  pyproject.toml
  setup.cfg
Labels: configs

use setuptools entry points instead of main function; remove bash helper script
  nester.sh
  pyproject.toml
  src/nester.py
  src/nester/__init__.py
  src/nester/nester_commands.py
Labels: python, bash/shell, configs

fix setuptools entry point
  .gitignore
  pyproject.toml
  src/nester/__init__.py
  tree.txt
Labels: python, configs

remove unncessary requirements.txt file
  requirements.txt
  tree.txt
Labels: none

update contributing guide
  CONTRIBUTING.md
Labels: none

update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

add build directory for finished sphinx doc builds
  docs/_build/html/.buildinfo
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/index.doctree
  docs/_build/html/_sources/index.rst.txt
  docs/_build/html/_static/alabaster.css
  docs/_build/html/_static/basic.css
  docs/_build/html/_static/custom.css
  docs/_build/html/_static/doctools.js
  docs/_build/html/_static/documentation_options.js
  docs/_build/html/_static/file.png
  docs/_build/html/_static/language_data.js
  docs/_build/html/_static/minus.png
  docs/_build/html/_static/plus.png
  docs/_build/html/_static/pygments.css
  docs/_build/html/_static/searchtools.js
  docs/_build/html/_static/sphinx_highlight.js
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
Labels: none

Add towncrier to repository
  .github/workflows/newsfragment_checker.yml
  .github/workflows/towncrier.yml
  changelog.d/changelog_template.jinja
  changelog/.gitkeep
  pyproject.toml
Labels: configs

Add towncrier to repository (#22)
  .github/workflows/newsfragment_checker.yml
  .github/workflows/towncrier.yml
  changelog.d/changelog_template.jinja
  changelog/.gitkeep
  pyproject.toml
Labels: configs

fix pylint not able to install deps
  .github/workflows/pylint.yml
Labels: configs

README update
  README.md
Labels: documentation

fix pylint errors
  .github/workflows/pylint.yml
  .pylintrc
  src/main.py
  src/nester.py
  src/nester/__init__.py
  src/nester/nester_commands.py
  src/nester/utils.py
Labels: python, configs

Add schemas for c, cpp, cs, java
  .github/workflows/newsfragment_checker.yml
  .github/workflows/towncrier.yml
  changelog.d/4.added
  setup.cfg
  src/nester/templates/c/c_layout.json
  src/nester/templates/cpp/cpp_layout.json
  src/nester/templates/cs/cs_layout.json
  src/nester/templates/java/java_layout.json
  src/nester/templates/py/py_layout.json
Labels: configs

Fix ruby template
  README.md
  src/nester/templates/rb/rb_layout.json
Labels: documentation

add custom css to documentation and initial docs build
  docs/_build/html/.buildinfo
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/source/utils.doctree
  docs/_build/html/.doctrees/usage-guide.doctree
  docs/_build/html/_sources/usage-guide.rst.txt
  docs/_build/html/_static/css/custom.css
  docs/_build/html/dev_docs.html
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/installation_guide.html
  docs/_build/html/py-modindex.html
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/_build/html/source/utils.html
  docs/_build/html/supported_languages.html
  docs/_build/html/usage-guide.html
  docs/_build/html/usage_guide.html
  docs/_static/css/custom.css
  docs/conf.py
Labels: documentation

.github/labeler.yml:

python:
- src/**/*.py

cli-frontend:
- src/nester/cli_logic.py

interactive-mode:
- src/nester/interactive_mode.py

json:
- src/templates/**/*.json

documentation:
- docs/*
- README.md
- LICENSE
- CODE_OF_CONDUCT.md
- CONTRIBUTING

tests:
- tests/*

bash/shell:
- ./**/*.sh

configs:
- ./**/*.toml
- ./**/*.yml
- ./**/*.cfg

container:
- Dockerfile
