Repository ByteOtter/nester, changes with the labels that .github/labeler.yml gives for each.
All labels: python, json, cli-frontend, logging, interactive-mode, utils, documentation, tests, codequality, configs, packaging, workflows, container, repository-maintenance

.github/labeler.yml:

python:
- src/**/*.py

json:
- src/templates/**/*.json

cli-frontend:
- src/nester/nester_commands.py

logging:
- src/nester/nester_log.py

interactive-mode:
- src/nester/interactive_mode.py

utils:
- src/nester/utils.py

documentation:
- docs/*
- README.md
- LICENSE
- CODE_OF_CONDUCT.md
- CONTRIBUTING
- .readthedocs.yaml

tests:
- tests/*

codequality:
- .pylintrc
- .pre-commit-config.yaml

configs:
- ./**/*.toml
- ./**/*.yml
- ./**/*.cfg

packaging:
- pyproject.toml
- setup.cfg

workflows:
- .github/workflows/*.yml

container:
- Dockerfile

repository-maintenance:
- .gitignore
- .pre-commit-config.yaml
- CODEOWNERS
- CONTRIBUTING.md
- LICENSE
- INSTALL.md
- .github/*

update readme
  README.md
Labels: documentation

update readme (#39)
  README.md
Labels: documentation

update readme to include rpm package installation
  INSTALL.md
  README.md
  docs/_build/html/.doctrees/contributing.doctree
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/installation_guide.doctree
  docs/_build/html/_sources/contributing.rst.txt
  docs/_build/html/_sources/installation_guide.rst.txt
  docs/_build/html/contributing.html
  docs/_build/html/installation_guide.html
  docs/_build/html/objects.inv
  docs/_build/html/searchindex.js
  docs/_build/html/source/utils.html
  docs/_build/html/usage_guide.html
  docs/installation_guide.rst
Labels: documentation, repository-maintenance

Update minor docstring poblems
  src/nester/nester_log.py
Labels: python, logging

[Config:] Add pytest-cov to requirements
  setup.cfg
Labels: configs, packaging

Add .coverage to gitignore
  .gitignore
Labels: repository-maintenance

fix test import order
  tests/interation_tests/test_util_integration.py
  tests/unit_tests/test_utils.py
Labels: none

[TESTS:] Add test pytest-coverage (#40)
  .gitignore
  setup.cfg
  tests/interation_tests/test_util_integration.py
  tests/unit_tests/test_utils.py
Labels: configs, packaging, repository-maintenance

split test data off into pytest fixtures
  tests/conftest.py
  tests/integration_tests/__init__.py
  tests/integration_tests/test_util_integration.py
  tests/interation_tests/test_util_integration.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_logging.py
  tests/unit_tests/test_utils.py
Labels: tests

[TESTS:] Split test data off into pytest fixtures (#41)
  tests/conftest.py
  tests/integration_tests/__init__.py
  tests/integration_tests/test_util_integration.py
  tests/interation_tests/test_util_integration.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_logging.py
  tests/unit_tests/test_utils.py
Labels: tests

Replace frontend print statements with cli.echo
  src/nester/nester_commands.py
Labels: python, cli-frontend

Add test for nester create
  tests/integration_tests/frontend_tests/__init__.py
  tests/integration_tests/frontend_tests/test_frontend.py
Labels: none

add validate and clean tests
  tests/integration_tests/frontend_tests/test_frontend.py
Labels: none

switch pypi badge style
  README.md
Labels: documentation

point worspace to project root
  .github/workflows/towncrier.yml
Labels: configs, workflows

explicitly import the nester module into the runners python path
  .github/workflows/towncrier.yml
  .gitignore
Labels: configs, workflows, repository-maintenance

add __init__.py to src directory so the changelog workflow finds the package
  src/__init__.py
Labels: python

Add frontend test for logging function#
  tests/integration_tests/frontend_tests/test_frontend.py
Labels: none

Add empty log test
  tests/integration_tests/frontend_tests/test_frontend.py
Labels: none

fix minor typos across all code files
  README.md
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/source/logging.doctree
  docs/_build/html/.doctrees/source/utils.doctree
  docs/_build/html/_static/_sphinx_javascript_frameworks_compat.js
  docs/_build/html/_static/css/theme.css
  docs/_build/html/_static/jquery.js
  docs/_build/html/contributing.html
  docs/_build/html/dev_docs.html
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/installation_guide.html
  docs/_build/html/py-modindex.html
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/_build/html/source/logging.html
  docs/_build/html/source/utils.html
  docs/_build/html/supported_languages.html
  docs/_build/html/usage_guide.html
  docs/usage_guide.rst
  src/nester/nester_commands.py
  src/nester/nester_log.py
  src/nester/utils.py
Labels: python, cli-frontend, logging, utils, documentation

prevent packaging workflow from running on branches
  .github/workflows/packaging.yml
Labels: configs, workflows

add static typing
  src/nester/nester_commands.py
  src/nester/nester_log.py
  src/nester/utils.py
Labels: python, cli-frontend, logging, utils

update documentation
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/source/logging.doctree
  docs/_build/html/.doctrees/source/utils.doctree
  docs/_build/html/.doctrees/usage_guide.doctree
  docs/_build/html/_sources/usage_guide.rst.txt
  docs/_build/html/searchindex.js
  docs/_build/html/source/logging.html
  docs/_build/html/source/utils.html
  docs/_build/html/usage_guide.html
Labels: none

fix failure to inject project name
  src/nester/utils.py
Labels: python, utils

fix failure to inject project name
  src/nester/utils.py
Labels: python, utils

split code and function ivocation from cli module into commands module for abstraction
  pyproject.toml
  src/nester/cli.py
  src/nester/commands.py
Labels: python, configs, packaging
