Repository ByteOtter/nester, changes with the labels that .github/labeler.yml gives for each.
All labels: python, cli-frontend, interactive-mode, json, documentation, tests, bash/shell, configs, container

.github/labeler.yml:

python:
- src/**/*.py

cli-frontend:
- src/nester/cli_logic.py

interactive-mode:
- src/nester/interactive_mode.py

json:
- src/templates/**/*.json

documentation:
- docs/*
- README.md
- LICENSE
- CODE_OF_CONDUCT.md
- CONTRIBUTING

tests:
- tests/*

bash/shell:
- ./**/*.sh

configs:
- ./**/*.toml
- ./**/*.yml
- ./**/*.cfg

container:
- Dockerfile

add Install
  CONTRIBUTING.md
  INSTALL.md
  README.md
Labels: documentation

add readthedocs.yml
  .readthedocs.yaml
  docs/requirements.txt
Labels: documentation

fix broken links in docs
  .github/workflows/towncrier.yml
  pyproject.toml
Labels: configs

Readme update
  README.md
Labels: documentation

add utils integration- and unittests
  .pylintrc
  setup.cfg
  src/nester/nester_commands.py
  src/nester/utils.py
  tests/__init__.py
  tests/interation_tests/__init__.py
  tests/interation_tests/test_util_integration.py
  tests/unit_tests/__init__.py
  tests/unit_tests/test_utils.py
  tests/utils_test.py
Labels: python, tests, configs

fix integration test cleanup assertion
  tests/interation_tests/test_util_integration.py
Labels: none

test cleanup function
  src/nester/nester_commands.py
  src/nester/utils.py
  tests/interation_tests/test_util_integration.py
  tests/unit_tests/test_utils.py
Labels: python

[TESTS:] Add utils tests (#20)
  .pylintrc
  setup.cfg
  src/nester/nester_commands.py
  src/nester/utils.py
  tests/__init__.py
  tests/interation_tests/__init__.py
  tests/interation_tests/test_util_integration.py
  tests/unit_tests/__init__.py
  tests/unit_tests/test_utils.py
  tests/utils_test.py
Labels: python, tests, configs

cleanup depricated file structure
  setup.py
  src/main.py
  src/nester/__init__.py
  src/nester/interactive_mode.py
Labels: python, interactive-mode

add packaging workflow for pypi
  .github/workflows/packaging.yml
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/source/utils.doctree
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/searchindex.js
  docs/_build/html/source/utils.html
  pyproject.toml
Labels: configs

Update README
  .github/workflows/packaging.yml
  README.md
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/installation_guide.doctree
  docs/_build/html/_sources/installation_guide.rst.txt
  docs/_build/html/installation_guide.html
  docs/_build/html/searchindex.js
  docs/installation_guide.rst
Labels: documentation, configs

update setup.cfg with dynamic version parameter
  setup.cfg
Labels: configs

add version and version increase workflow
  .github/workflows/increase_version.yml
  setup.cfg
  src/nester/__init__.py
Labels: python, configs

add version command and fix dynamic versioning
  .gitignore
  pyproject.toml
  setup.cfg
  src/nester/__init__.py
  src/nester/nester_commands.py
Labels: python, configs

fix packaging workflow
  .github/workflows/packaging.yml
Labels: configs

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
  src/nester/__init__.py
Labels: python

add automatic testing workflow
  .github/workflows/tests.yml
Labels: configs

fix empty template files
  src/nester/__init__.py
  src/nester/templates/c/c_layout.json
  src/nester/templates/cpp/cpp_layout.json
  src/nester/templates/cs/cs_layout.json
  src/nester/templates/java/java_layout.json
Labels: python

fix README typo
  README.md
Labels: documentation

README update
  README.md
Labels: documentation

fix towncrier workflows
  .github/workflows/newsfragment_checker.yml
  .github/workflows/towncrier.yml
  setup.cfg
Labels: configs

fix towncrier workflows (#32)
  .github/workflows/newsfragment_checker.yml
  .github/workflows/towncrier.yml
  setup.cfg
Labels: configs

update version number
  src/nester/__init__.py
Labels: python

split off towncrier changes
  .github/workflows/newsfragment_checker.yml
  .github/workflows/towncrier.yml
  setup.cfg
Labels: configs

add boilerplate code to c, cpp, cs, java and ruby
  changelog.d/30.added
  src/nester/templates/c/c_layout.json
  src/nester/templates/cpp/cpp_layout.json
  src/nester/templates/cs/cs_layout.json
  src/nester/templates/java/java_layout.json
  src/nester/templates/py/py_layout.json
  src/nester/templates/rb/rb_layout.json
Labels: none

revert towncrier changes
  .github/workflows/newsfragment_checker.yml
  .github/workflows/towncrier.yml
  setup.cfg
Labels: configs

[SCHEMAS:] Add boilerplate code to c, cpp, cs, java and ruby (#31)
  changelog.d/30.added
  src/nester/__init__.py
  src/nester/templates/c/c_layout.json
  src/nester/templates/cpp/cpp_layout.json
  src/nester/templates/cs/cs_layout.json
  src/nester/templates/java/java_layout.json
  src/nester/templates/py/py_layout.json
  src/nester/templates/rb/rb_layout.json
Labels: python

fix create_changelog workflow
  .github/workflows/towncrier.yml
Labels: configs

Add monitoring labels
  .github/workflows/testing.yml
  README.md
Labels: documentation, configs

remove redundant workflow
  .github/workflows/testing.yml
  README.md
Labels: documentation, configs

fix broken readme
  README.md
Labels: documentation

Add logging of created projects.
  .gitignore
  .pylintrc
  README.md
  changelog.d/34.added
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/usage_guide.doctree
  docs/_build/html/_sources/usage_guide.rst.txt
  docs/_build/html/searchindex.js
  docs/_build/html/usage_guide.html
  docs/usage_guide.rst
  src/nester/nester_commands.py
  src/nester/nester_log.py
  src/nester/utils.py
  tests/unit_tests/test_logging.py
Labels: python, documentation

Add logging of created projects. (#35)
  .gitignore
  .pylintrc
  README.md
  changelog.d/34.added
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/usage_guide.doctree
  docs/_build/html/_sources/usage_guide.rst.txt
  docs/_build/html/searchindex.js
  docs/_build/html/usage_guide.html
  docs/usage_guide.rst
  src/nester/nester_commands.py
  src/nester/nester_log.py
  src/nester/utils.py
  tests/unit_tests/test_logging.py
Labels: python, documentation

update version to 0.5.0
  src/nester/__init__.py
Labels: python

fix list of commands in README.md
  README.md
Labels: documentation

update install and contributing guide
  CONTRIBUTING.md
  INSTALL.md
  README.md
Labels: documentation

update dev docs
  docs/_build/html/.doctrees/contributing.doctree
  docs/_build/html/.doctrees/dev_docs.doctree
  docs/_build/html/.doctrees/environment.pickle
  docs/_build/html/.doctrees/index.doctree
  docs/_build/html/.doctrees/source/logging.doctree
  docs/_build/html/.doctrees/usage_guide.doctree
  docs/_build/html/_sources/contributing.rst.txt
  docs/_build/html/_sources/dev_docs.rst.txt
  docs/_build/html/_sources/index.rst.txt
  docs/_build/html/_sources/source/logging.rst.txt
  docs/_build/html/_sources/usage_guide.rst.txt
  docs/_build/html/_static/css/custom.css
  docs/_build/html/contributing.html
  docs/_build/html/dev_docs.html
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/py-modindex.html
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/_build/html/source/logging.html
  docs/_build/html/usage_guide.html
  docs/_static/css/custom.css
  docs/contributing.rst
  docs/dev_docs.rst
  docs/index.rst
  docs/source/logging.rst
  src/nester/nester_log.py
Labels: python, documentation
